Repository ohiliazov/drf-course: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-export

poetry-lock:
  name: poetry-lock
  entry: bash -c 'poetry lock --no-update'
  language: system

poetry-export:
  name: poetry-export
  entry: bash -c 'poetry export -f requirements.txt -o requirements.txt --without-hashes'
  language: system

basic installation
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  Justfile
  app/app/__init__.py
  app/app/asgi.py
  app/app/settings.py
  app/app/urls.py
  app/app/wsgi.py
  app/manage.py
  app/ruff.toml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
  ruff.toml
Due: poetry-lock, poetry-export

use github actions
  .github/workflows/checks.yml
Due: none

change docker compose version
  docker-compose.yml
Due: none

fix var
  docker-compose.yml
Due: none

fix Dockerfile
  Dockerfile
Due: none

fix lint
  .github/workflows/checks.yml
  Dockerfile
Due: none

add setuptools
  poetry.lock
  pyproject.toml
Due: poetry-lock

update pre-commit hooks
  .pre-commit-config.yaml
  requirements.dev.txt
  requirements.txt
Due: poetry-export

add database
  Dockerfile
  Justfile
  app/app/settings.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-lock, poetry-export

update Justfile
  Justfile
Due: none

add core app
  .pre-commit-config.yaml
  Justfile
  app/app/settings.py
  app/core/__init__.py
  app/core/admin.py
  app/core/apps.py
  app/core/management/__init__.py
  app/core/management/commands/__init__.py
  app/core/management/commands/wait_for_db.py
  app/core/migrations/__init__.py
  app/core/models.py
  app/core/tests/__init__.py
  app/core/tests/test_commands.py
  app/manage.py
  app/ruff.toml
  pyproject.toml
Due: none

fix .gitignore
  .gitignore
Due: none

update .dockerignore
  .dockerignore
Due: none

managed requirements
  .pre-commit-config.yaml
  Dockerfile
  Justfile
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.psycopg2.txt
  requirements.txt
Due: poetry-lock, poetry-export

add custom user model
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  Dockerfile
  Justfile
  app/app/settings.py
  app/core/migrations/0001_initial.py
  app/core/models.py
  app/core/tests/test_models.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.main.txt
Due: poetry-lock

add test_admin
  .github/workflows/checks.yml
  app/core/tests/test_admin.py
  app/core/tests/test_models.py
Due: none

fix test
  app/core/admin.py
  app/core/tests/test_admin.py
Due: none

update admin page
  app/core/admin.py
  app/core/tests/test_admin.py
Due: none

add new app
  .pre-commit-config.yaml
  Justfile
  app/app/settings.py
  app/app/urls.py
  app/core/admin.py
  app/core/models.py
  app/user/__init__.py
  app/user/admin.py
  app/user/apps.py
  app/user/migrations/__init__.py
  app/user/models.py
  app/user/tests.py
  app/user/views.py
  poetry.lock
  pyproject.toml
  requirements.main.txt
Due: poetry-lock

Path conditions:
  poetry-lock: any of: poetry.lock
  poetry-export: any of: requirements.txt
